html{
	font-family: 'Arial';
	
}

body{
	height: 100vh;
	width: 100vw;
}

.navbar{
	display: flex;
	justify-content: flex-end;
	background-color: black;
	color: white;
}

.navlist{
	list-style: none;
}

.navlist-item {
	display: inline;
	margin: 12px;
}

.navlink{
	display: inline-block;
	text-decoration: none;
	color: white;
}

.navlink::after{
	width:0%;
	height: 2px;
	color: #ed7c53;
	transition: all 1s;
}

.navlink:hover{
	color: #ed7c53;
}

.navlink::after:hover{
	width:100%;
	height: 2px;
	color: #ed7c53;
}